args==0.1.0
click==7.1.2
clint==0.5.1
colorama==0.4.4
crayons==0.4.0
docopt==0.6.2
easywatch==0.0.5
future==0.18.2
gitdb==4.0.5
GitPython==3.1.13
html2text==2020.1.16
httpwatcher==0.5.2
Jinja2==2.11.3
legit==1.2.0.post0
Markdown==3.3.3
MarkupSafe==1.1.1
six==1.15.0
smmap==3.0.5
staticjinja==1.0.4
tornado==4.5.3
watchdog==2.0.1
